<h2>登録情報の編集</h2>
<%= link_to :back do %>
  <i class="bi bi-arrow-return-left"></i>前のページに戻る
<% end %>
<%= render "devise/shared/error_messages", resource: resource %>
<div class="mx-auto p-3 mt-4">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <div class="field p-2">
      <%= f.label :email %><br />
      <%= f.email_field :email, class: "w-75", autofocus: true, autocomplete: "email" %>
    </div>
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div><%= t('.currently_waiting_confirmation_for_email', email: resource.unconfirmed_email) %></div>
    <% end %>
    <div class="field p-2">
      <%= f.label :password %> <i>(<%= t('.leave_blank_if_you_don_t_want_to_change_it') %>)</i><br />
      <%= f.password_field :password, class: "w-75", autocomplete: "new-password" %>
      <% if @minimum_password_length %>
        <br />
        <em><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></em>
      <% end %>
    </div>
    <div class="field p-2">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, class: "w-75", autocomplete: "new-password" %>
    </div>
    <div class="field p-2">
      <%= f.label :current_password %> <i>(<%= t('.we_need_your_current_password_to_confirm_your_changes') %>)</i><br />
      <%= f.password_field :current_password, class: "w-75", autocomplete: "current-password" %>
    </div>
    <div class="actions mt-4">
      <%= f.submit t('.update'), class:"btn btn-success text-light w-75 p-2" %>
    </div>
  <% end %>
</div>
<div class="p-3 mt-5">
  <h3><%= t('.cancel_my_account') %></h3>
  <div>
    <%= t('.unhappy') %>
    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirmationModal">
      <%= t('.cancel_my_account') %>
    </button>
  </div>
</div>
<div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmationModalLabel">削除確認</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        本当に削除しますか？（削除後同じメールアドレスは登録できません）
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button>
        <%= button_to t('.cancel_my_account'), registration_path(resource_name), class:"btn btn-danger", method: :delete %>
      </div>
    </div>
  </div>
</div>
