<h2><%= t('.sign_up') %></h2>
<%= render "devise/shared/error_messages", resource: resource %>
<div class="mx-auto p-3 mt-4 shadow rounded">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <div class="field p-2">
      <%= f.label :name %> <span class="small bg-red text-light rounded p-1">必須</span><br />
      <%= f.text_field :name, class: "w-100", autofocus: true %>
    </div>
    <div class="field p-2">
      <%= f.label :email %> <span class="small bg-red text-light rounded p-1">必須</span><br />
      <%= f.email_field :email, class: "w-100", autofocus: true, autocomplete: "email" %>
    </div>
    <div class="field p-2">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></em>
      <% end %> <span class="small bg-red text-light rounded p-1">必須</span><br />
      <%= f.password_field :password, class: "w-100", autocomplete: "new-password" %>
    </div>
    <div class="field p-2">
      <%= f.label :password_confirmation %> <span class="small bg-red text-light rounded p-1">必須</span><br />
      <%= f.password_field :password_confirmation, class: "w-100", autocomplete: "new-password" %>
    </div>
    <div class="actions mt-3">
      <%= f.submit t('.sign_up'), class:"btn btn-red bg-red text-light w-100 p-2" %>
    </div>
  <% end %>
  <div class="mt-5">
    <p class="mx-auto">アカウントをお持ちの方は<%= link_to "こちら", new_user_session_path %></p>
    <p class="mx-auto"><%= link_to "ゲストログインでお試ししてみる", users_guest_sign_in_path, class: "btn btn-paper bg-paper" %></p>
    <%= link_to user_google_oauth2_omniauth_authorize_path do %>
      <%= image_tag "btn_google_signin_light_normal_web.png", class: "d-block mx-auto" %>
    <% end %>
  </div>
</div>
