<header class="d-flex justify-content-between px-3 pt-1 bg-paper">
  <div class="h3">
    <%= link_to root_path, class: "text-light text-decoration-none" do %>
      <%= image_tag "banner_logo.png", class: "banner-logo" %>
    <% end %>
  </div>
  <div class="align-self-center">
    <% if user_signed_in? %>
      <div class="d-flex gap-1">
        <p>ようこそ、<%= current_user.name %>さん！</p>
        <%= link_to "プロフィール", user_path(current_user.id) %>
        <%= button_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn bg-alminium btn-outline-alminium" %>
      </div>
    <% else %>
      <ul class="d-flex gap-1">
        <li>
          <%= link_to"新規登録", new_user_registration_path, class: "btn bg-red btn-red text-light" %>
        </li>
        <li>
          <%= link_to"ログイン", new_user_session_path, class: "btn bg-alminium btn-outline-alminium" %>
        </li>
        <li>
          <%= link_to"ゲストログイン", "#",class: "btn btn-light" %>
        </li>
      </ul>
    <% end %>
  </div>
</header>
