<% provide(:title, "プロフィール編集") %>
<h2>
  <%= link_to :back, class: "text-decoration-none" do %>
    <i class="bi bi-arrow-left-circle text-secondary"></i>
  <% end %>
  プロフィール編集
</h2>
<%= render "shared/error", obj: current_user %>
<div class="mx-auto p-3 mt-4 shadow rounded">
  <%= form_with model: current_user, url: users_profile_path do |f| %>
    <div class="field p-2">
      <%= f.label :name, "名前" %> <span class="small bg-red text-light rounded p-1">必須</span><br />
      <%= f.text_field :name, autofocus: true, autocomplete: "name", class:"w-100" %>
    </div>
    <div class="field p-2">
    <%= f.label :introduction, "プロフィール" %> <span class="small bg-alminium text-light rounded p-1">任意</span><br />
    <%= f.text_area :introduction, autofocus: true, rows: 3, class:"w-100" %>
    </div>
    <div class="field p-2">
      <%= f.label :avatar, "プロフィール画像" %> <span class="small bg-alminium text-light rounded p-1">任意</span><br />
      <%= f.file_field :avatar, class: "custom-file-input" %>
    </div>
    <div class="actions p-2">
      <%= f.submit"更新", class: "btn btn-success w-100" %>
    </div>
  <% end %>
</div>
