<h3><%= @user.name %></h3>
<h5>プロフィール</h5>
<%= image_tag @user.avatar.attached? ? @user.avatar : 'default_avatar.png', class: "avatar-large" %>
<p><%= @user.introduction %></p>
<% if user_signed_in? && @user.id == current_user.id %>
  <%= link_to users_profile_path do %>
    <i class="bi bi-pencil-square"></i> 編集
  <% end %>
<% end %>
<div>
  <p>
    <%= link_to follows_user_path(@user.id) do %>
      <%= @user.following_users.count.to_s(:delimited) %> フォロー   
    <% end %>
    <%= link_to followers_user_path(@user.id) do %>
      <%= @user.follower_users.count.to_s(:delimited) %> フォロワー
    <% end %>
  </p>
  <% if current_user && current_user.id != @user.id %>
    <% if current_user.following_users.include?(@user) %>
      <%= button_to "フォローを解除", user_relationships_path(@user.id), method: :delete, class: "p-2 border border-danger rounded-pill" %>
    <% else %>
      <%= button_to "フォローする", user_relationships_path(@user.id), method: :post, class:"p-2 border border-success rounded-pill" %>
    <% end %>
  <% end %>
</div>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a href="#posts" class="nav-link <%= 'active' if params[:tab] == nil %>" data-bs-toggle="tab">投稿一覧</a>
  </li>
  <li class="nav-item">
    <a href="#favolites" class="nav-link <%= 'active' if params[:tab] == 'favorites' %>" data-bs-toggle="tab">お気に入り一覧</a>
  </li>
  <% if user_signed_in? && @user.id == current_user.id %>
    <li class="nav-item">
      <a href="#histories" class="nav-link <%= 'active' if params[:tab] == 'histories' %>" data-bs-toggle="tab">チェック履歴</a>
    </li>
  <% end %>
</ul>
<div class="tab-content">
  <div id="posts" class="tab-pane <%= 'active' if params[:tab] == nil %>">
    <div class="row p-3 gap-2">
      <%= render partial: 'shared/product_list', collection: @user.products.order(created_at: :desc), as: :product %>
    </div>
  </div>
  <div id="favolites" class="tab-pane <%= 'active' if params[:tab] == 'favorites' %>">
    <div class="row p-3 gap-2">
      <%= render partial: 'shared/product_list', collection: @user.favorite_products.order(created_at: :desc), as: :product %>
    </div>
  </div>
  <% if user_signed_in? && @user.id == current_user.id %>
    <div id="histories" class="tab-pane <%= 'active' if params[:tab] == 'histories' %>">
      <p>チェック履歴</p>
    </div>
  <% end %>
</div>
