<h3><%= @user.name %></h3>
<h5>プロフィール</h5>
<p><%= @user.introduction %></p>
<% if @user.id == current_user.id %>
  <%= link_to users_profile_path do %>
    編集
  <% end %>
<% end %>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a href="#posts" class="nav-link <%= 'active' if params[:tab] == nil %>" data-bs-toggle="tab">投稿一覧</a>
  </li>
  <li class="nav-item">
    <a href="#favolites" class="nav-link <%= 'active' if params[:tab] == 'favorites' %>" data-bs-toggle="tab">お気に入り一覧</a>
  </li>
  <% if @user.id == current_user.id %>
    <li class="nav-item">
      <a href="#histories" class="nav-link <%= 'active' if params[:tab] == 'histories' %>" data-bs-toggle="tab">チェック履歴</a>
    </li>
  <% end %>
</ul>
<div class="tab-content">
  <div id="posts" class="tab-pane <%= 'active' if params[:tab] == nil %>">
    <p>投稿一覧</p>
  </div>
  <div id="favolites" class="tab-pane <%= 'active' if params[:tab] == 'favorites' %>">
    <p>お気に入り一覧</p>
  </div>
  <% if @user.id == current_user.id %>
    <div id="histories" class="tab-pane <%= 'active' if params[:tab] == 'histories' %>">
      <p>チェック履歴</p>
    </div>
  <% end %>
</div>
