<div class="productBox bg-ink p-0 col-lg-3 col-md-4 col-sm-6 col-xs-6">
  <%= link_to product_path(product.id), class: "text-decoration-none" do %>
    <%= image_tag (product.images.present? ? product.images.first : 'noimage.png'), class: "product-list-image" %>
    <div class="p-2 text-light">
      <h5><%= product.name %></h5>
      <p><%= product.price unless product.price.nil? %></p>
      <%= image_tag current_user.avatar.attached? ? current_user.avatar : 'default_avatar.png', class: "avatar-small" %>
      <%= product.user.name %>
    </div>
  <% end %>
</div>
