<div class="top-image-wrapper">
  <div class="top-content mx-auto">
    <h1 class="mx-auto"><%= image_tag "logo_transparent.png", class: "page-logo pb-4" %></h1>
    <div>
      <h3 class="text-center">Papeterie Stationとは？</h3>
      <p class="text-center">見て、使うことで心躍る文房具-Papeterie-のシェアステーション。</p>
      <p class="text-center">あなたのお気に入りの一品を見つけて。</p>
    </div>
  </div>
  <div class="mx-auto translucent-form">
    <% unless user_signed_in? %>
      <p class="text-secondary">\ユーザー登録してお気に入り登録をしよう/</p>
      <div>
        <div class="d-flex gap-1 mx-auto">
          <div>
            <%= link_to "新規登録", new_user_registration_path, class: "btn bg-red btn-red text-light" %>
          </div>
          <div>
            <%= link_to "ログイン", new_user_session_path, class: "btn bg-alminium btn-outline-alminium" %>
          </div>
        </div>
        <div class="mx-auto">
          <%= link_to "ゲストログイン", users_guest_sign_in_path, class: "btn btn-paper bg-paper" %>
        </div>
      </div>
    <% else %>
      <p class="text-secondary">\お気に入り製品をシェアしよう/</p>
      <div>
        <div class="mx-auto">
          <%= link_to "製品を投稿", new_product_path, class: "btn btn-red bg-red text-light" %>
        </div>
        <div class="d-flex gap-1 mx-auto">
          <div>
            <%= link_to "お気に入り一覧", user_path(current_user.id, tab: 'favorites') %>
          </div>
          <div>
            <%= link_to "チェック履歴", user_path(current_user.id, tab: 'histories') %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class="bg-alminium over-wrapper">
  <%= link_to"製品投稿一覧", products_path %>
  <h3>新着投稿</h3>
  <div class="row">
    <%= render partial: 'shared/product_list', collection: @products, as: :product %>
  </div>
</div>
