<header class="d-flex justify-content-between px-3 pt-3 bg-sub">
  <div class="h3">
    <%= link_to root_path, class: "text-light text-decoration-none" do %>
      Papeterie Station
    <% end %>
  </div>
  <div>
    <ul class="d-flex gap-1">
      <li>
        <%= link_to"ログイン", new_user_session_path, class: "btn btn-light" %>
      </li>
      <li>
        <%= link_to"新規登録", new_user_registration_path, class: "btn btn-light" %>
      </li>
      <li>
        <%= link_to"ゲストログイン", "#",class: "btn btn-light" %>
      </li>
    </ul>
  </div>
</header>
<div class="container">
  <div class="mx-auto">
    <h1 class="h1 text-center">Papeterie Station</h1>
    <h2 class="text-center">Papeterie Stationとは？</h2>
    <p class="text-center">見て、使うことで心躍る文房具-Papeterie-のシェアステーション。</p>
    <p class="text-center">あなたのお気に入りの一品を見つけて。</p>
  </div>
  <div class="mx-auto">
    <p class="text-secondary">\ユーザー登録してお気に入りの文房具を登録しよう/</p>
    <div>
      <div class="d-flex gap-1">
        <div>
          <%= link_to"ログイン", new_user_session_path, class: "btn btn-light" %>
        </div>
        <div>
          <%= link_to"新規登録", new_user_registration_path, class: "btn btn-light" %>
        </div>
      </div>
      <div>
        <%= link_to"ゲストログイン", "#",class: "btn btn-light" %>
      </div>
    </div>
  </div>
</div>
<footer class="bg-sub mt-auto py-2">
  <div>
    <p>&copy; 2023 Tamada Arino</p>
  </div>
</footer>
