<h2><%= t('.sign_in') %></h2>
<div class="mx-auto p-3 mt-4 shadow rounded">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field p-2">
      <%= f.label :email %><br />
      <%= f.email_field :email, class: "w-100", autofocus: true, autocomplete: "email" %>
    </div>
    <div class="field p-2">
      <%= f.label :password %><br />
      <%= f.password_field :password, class: "w-100", autocomplete: "current-password" %>
    </div>
    <% if devise_mapping.rememberable? %>
      <div class="field p-2">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>
    <div class="actions mt-3">
      <%= f.submit t('.sign_in'), class:"btn btn-red bg-red text-light w-100 p-2" %>
    </div>
  <% end %>
  <div class="mt-5">
    <p class="mx-auto">アカウント登録がまだの方は<%= link_to "こちら", new_user_registration_path %></p>
    <p class="mx-auto"><%= link_to "ゲストログインでお試ししてみる", users_guest_sign_in_path, class: "btn btn-paper bg-paper" %></p>
    <%= link_to user_google_oauth2_omniauth_authorize_path do %>
      <%= image_tag "btn_google_signin_light_normal_web.png", class: "d-block mx-auto" %>
    <% end %>
    <%= link_to "パスワードをお忘れですか？", new_user_password_path %>
  </div>
</div>
