<h3>カテゴリー:<%= @category.name %>から探す</h3>
<div class="row">
  <div class="sideBer col-md-3">
    <div>
      <%= render "shared/search_form", url: category_path(@category)  %>
    </div>
    <%= render "shared/category_list" %>
  </div>
  <div class="col-md-9">
    <div class="d-flex justify-content-between w-100 bg-ink p-2">
      <p class="m-0 text-light">並び替え:</p>
      <div>
        <%= link_to "新しい順", category_path(@category.id), class: "link-light" %>
        <%= link_to "古い順", category_path(@category.id, order: "old"), class: "link-light" %>
        <%= link_to "いいねが多い順", category_path(@category.id, order: "favorites"), class: "link-light" %>
      </div>
    </div>
    <p class="h4 p-2"><%= @order_text %></p>
    <div class="row">
      <%= render partial: 'shared/product_list', collection: @products, as: :product %>
    </div>
  </div>
</div>
