<% provide(:title, "投稿製品一覧") %>
<div class="p-3 row">
  <h3 class="col-sm-9">投稿製品一覧</h3>
  <%= link_to new_product_path, class: "btn btn-red bg-red text-light col-sm-3 text-right" do %>
    <i class="bi bi-plus-circle"></i> 製品を投稿
  <% end %>
</div>
<div class="row">
  <div class="col-lg-3 col-sm-4">
    <%= render "shared/detail_search", url: products_path %>
    <%= render "shared/category_list" %>
  </div>
  <div class="col-lg-9 col-sm-8">
    <div class="row">
      <div class="d-flex justify-content-between w-100 bg-paper p-2">
        <p class="m-0">並べ替え：</p>
        <div class="d-flex gap-2">
          <%= sort_link(@q, :name, "名前順") %>
          <%= sort_link(@q, :price, "価格順") %>
          <%= sort_link(@q, :created_at, "投稿日時") %>
        </div>
      </div>
      <%= render partial: 'shared/product_list', collection: @products, as: :product %>
    </div>
  </div>
</div>
