<% provide(:title, "新規投稿") %>
<h3>製品投稿</h3>
<%= render "shared/error", obj: @product %>
<div class="mx-auto p-3 mt-4 shadow rounded">
  <%= form_with model: @product do |f| %>
    <div class="p-2">
      <%= f.label :name, "製品名" %> <span class="small bg-red text-light rounded p-1">必須</span><br>
      <%= f.text_field :name, :placeholder => "製品名を入力", class: "w-100" %>
    </div>
    <div class="p-2">
      <%= f.label :price, "参考価格" %> <span class="small bg-red text-light rounded p-1">必須</span><br>
      <%= f.text_field :price, :placeholder => "参考価格", class: "w-100" %>
    </div>
    <div class="p-2">
      <%= f.label :description, "製品説明" %> <span class="small bg-alminium text-light rounded p-1">任意</span><br>
      <%= f.text_area :description, :placeholder => "説明を入力", rows: 3, class: "w-100" %>
    </div>
    <div class="p-2">
      <%= f.label :images, "画像" %> <span class="small bg-alminium text-light rounded p-1">任意</span><em>３枚まで添付できます</em><br>
      <%= f.file_field :images, multiple: true, class: "custom-file-input" %>
    </div>
    <div class="p-2">
      <%= f.label :category_id, "カテゴリー" %> <span class="small bg-alminium text-light rounded p-1">任意</span>
      <%= f.select :category_id, options_for_select(@categories), include_blank: "選択して下さい" %>
    </div>
    <div class="p-2">
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.submit "投稿する", class: "btn btn-success w-100 p-2" %>
    </div>
  <% end %>
</div>
