<h3><%= @product.name %></h3>
<% if user_signed_in? && @product.user.id == current_user.id %>
  <p><%= link_to "編集", edit_product_path(@product.id)%></p>
<% end %>
<%= link_to user_path(@product.user.id) do%>
  <%= image_tag @product.user.avatar.attached? ? @product.user.avatar : 'default_avatar.png', class: "avatar-small" %>
  <%= @product.user.name %>
<% end %>
<% if current_user && @product.favorited_by?(current_user) %>
  <%= button_to "いいね解除", product_favorites_path(@product), method: :delete %>
<% else %>
  <%= button_to "いいね", product_favorites_path(@product), method: :post %>
<% end %>
<div>
  <div>
    <% if @product.images.present? %>
      <% @product.images.each do |image| %>
        <%= image_tag image, class: "product-image" %>
      <% end %>
    <% else %>
      <%= image_tag 'noimage.png', class: "product-image" %>
    <% end %>
  </div>
  <p><%= @product.price unless @product.price.nil? %></p>
  <p><%= @product.description %></p>
</div>
